# ----------------------------
# Node.js
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.local
.env.development
.env.test
.env.production

# ----------------------------
# Logs
# ----------------------------
logs
*.log

# ----------------------------
# Build / Dist
# ----------------------------
dist/
build/
coverage/

# ----------------------------
# OS Files (Mac)
# ----------------------------
.DS_Store

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.swp

# ----------------------------
# DBeaver
# ----------------------------
.dbeaver/
.metadata/

# ----------------------------
# Misc
# ----------------------------
tmp/
temp/
